
<p>servers works!</p>
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"> <!---square brackets indicate we want to bind some property from html to TS. we pass in an expression to create a dynamically updated attribute. --->
    Add Server
</button>
<p>{{'Allow Creation of a New Server?:'}}</p>
<p [innerText]="allowNewServer">{{allowNewServer}}</p> 
<p >{{serverCreationStatus}}</p>
<!--example of property binding. however, don't mix property binding and string interpolation!-->
<!--<p [innerText]="{{allowNewServer}}">{{allowNewServer}}</p>  this will not work!  -->
<label>Server Name</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)" 
> -->
<!---$event simply refers to the data the user entered with that event--->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName" 
>
<!-- <p>{{serverName}}</p>  -->
<!---this is an example of two way data binding-->

<p *ngIf="serverCreated; else noServer">Server created!  Server name is {{serverName}}</p><!--ngIf is dependent on any condition returning / resolving to true or false-->
<ng-template #noServer> <!---ng-template is a directive template that comes with angular. the #noServer is a local marker used for this conditional render in tandem w ngIf.-->
    <p>No server was created.</p>
</ng-template>

<app-server *ngFor="let server of servers">{{serverName}}</app-server> <!--the *ngFor directive allows us to essentially loop through and render as each server is created -->
<button
    class="btn btn-primary"
    (click)="onDisplaySecretText()"
    [innerText]="displayButtonText" 
>
    {{displayButtonText}}
</button>
<p>{{secretText}}</p>
<!-- <p 
    *ngFor="let timestamp of timestamps"
    [ngStyle]="{'background-color': timestamps.indexOf(timestamp) >= 5 ? 'blue' : 'white'}"
    [ngClass]="{moreThan5: timestamps.indexOf(timestamp) >= 5}"
>{{timestamp}}</p>  -->
<p 
    *ngFor="let timestamp of timestamps; let i = index"
    [ngStyle]="{'background-color': i >= 4 ? 'blue' : 'white'}"
    [ngClass]="{moreThan5: i >= 4}"
>{{timestamp}}</p> 
